<div class="row" style="margin:5px 0px;">
  <div class="col-8 offset-2">
    <div class="book-stub draw-border noselect" style="padding:5px 10px;" (click)="reroute(BookInfo.bookTitle)">
      <div class="book-cover" *ngIf="BookInfo.bookCover">
        <img src="{{BookInfo.bookCover}}"/>
      </div>
      <div class="book-title">
        <a href="/{{bookParsed}}/1" disabled></a>{{BookInfo.bookTitle}}
      </div>
      
    
    </div>
    <div class="currently-at" *ngIf="pageNum !== 1">Currently on page {{pageNum}}</div>
  </div>
  <div class="col-12 book-options">
    <div class="row">
      <div [ngClass]="{'col-12': !BookInfo.purchaseLink, 'col-5': BookInfo.purchaseLink}" style="text-align:center;"><a target="_blank" href="{{BookInfo.bookUrl}}" (click)="downloadedBook()" download>Download PDF</a></div>
      <div class="col-2" *ngIf="BookInfo.purchaseLink">OR</div>
      <div class="col-5" style="text-align:left;" *ngIf="BookInfo.purchaseLink"><a href="{{BookInfo.purchaseLink}}">{{BookInfo.purchaseMessage}}</a></div>  
    </div>
  </div>
</div>
