<div class="container">
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand clickable" (click)="reroute('/')">Kenneth Kuttler</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="showDropDown = !showDropDown" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show':showDropDown}">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item clickable"><a class="nav-link" (click)="reroute('/')">Home</a></li>
        <li class="nav-item dropdown">
          <span class="nav-link clickable" id="navbarDropdown" (click)="showDropDown = !showDropDown" role="button">Books <i class="fa fa-sort-desc" aria-hidden="true"></i></span>
          <div class="dropdown-menu d-none d-md-block" [ngClass]="{'showDropDown':showDropDown}" aria-labelledby="navbarDropdown">
            <a class="dropdown-item clickable" *ngFor="let book of bookInfos" (click)="reroute(book.bookTitle, true)">{{book.bookTitle}}</a>
          </div>
          <div class="d-md-none dropdown-menu showDropDown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item clickable" *ngFor="let book of bookInfos" (click)="reroute(book.bookTitle, true)">{{book.bookTitle}}</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <ngx-loading-bar></ngx-loading-bar>

  <router-outlet></router-outlet>

  <notifier-container></notifier-container>
  <div class="cookie-agreement" *ngIf="!agreedToCookie">
    <div class="">This website uses cookies to improve the user experience</div>
    <div class="">
      <button type="button" class="btn btn-primary" (click)="setAgreedToCookies()">Agree</button>
    </div>
  </div>
</div>
