/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~bootstrap/scss/bootstrap.scss";

.pdf-wrapper {
  display:flex;
}

pdf-viewer {
  display: block;
  height: 85vh !important;
}
.clickable {
  cursor: pointer;
}
.dropdown-menu,
.showDropDown {
  opacity: 0;
  visibility: hidden;
  display: block;
  top: -10px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.showDropDown {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.clickable {
  cursor: pointer;
}
.arrow {
  display: inline-block;
  padding: 3px;
}

.black {
  border: solid black;
  border-width: 0 3px 3px 0;
}

.white {
  border: solid white;
  border-width: 0 3px 3px 0;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.router-wrapper {
  flex: 1;
}

.hidden-overflowy {
  overflow-y: hidden;
}